// P标签 strong
.block-editor-writing-flow {

    .block-editor-rich-text__editable {
        strong {
            color: #fcb900;
        }

        code {
            margin: 0 4px;
            padding: 4px 6px;
            color: #aeb3bc;
            background-color: #3f4348;
            border-radius: 4px;
        }

        s {
            color: #70747e;
        }

        a {
            font-weight: 700;
            color: #a4d007;
            text-decoration: none;
        }

        ul,
        ol {
            margin-left: 20px;
        }
    }

    .is-selected {
        padding: 10px 14px;
        background-color: #f2f2f2;
        border-radius: 6px;
    }


}